<div class="main">
  <div class="container">
    <div class="row">
      <div class="col-lg-12"><span class="title-1">API-DOCS</span></div>
  </div>
  <div class="row">
      <div class="col-lg-12">
        <span class="info">
        Welcome to API-DOCS. Documentation is available for {{docsCount}} projects the community has linked.
        Begin your search for anything by typing one or more keywords below.
        </span>
      </div>
  </div>  
  <div class="row">
      <div class="col-lg-12">
        <div class="marginizer">
        <div class="select">
            <select [(ngModel)]="select1" (change)="languageSelect()">
              <option *ngFor="let lang of langCollection">{{lang}}</option>
            </select>
          </div>
          <div class="select">
            <select [(ngModel)]="select2" (change)="versionSelect()">
              <option *ngFor="let lib of libCollection">{{lib}}</option>
            </select>
          </div>        
          <div class="select">              
              <select [(ngModel)]="select3" (change)="selectChange()">
                <option *ngFor="let ver of versionCollection">{{ver}}</option>                 
              </select>        
            </div>          
        </div>
      </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <input type="text" #searchBox class="search-textbox" id="search-box" [(ngModel)]="searchBoxValue" placeholder="Search Here" (input)="search(searchBox.value)"/>
    </div>
  </div>
  <div class="row">
      <div class="col-lg-12">
        <div class="marginizer">
        <span *ngIf="!projects$ || projects$.length <= 0" class="info text-center">
          No Results Found
        </span>
        <table class="results-table">
          <thead>
            <th>Name</th>
            <th>Description</th>
          </thead>
          <tbody>
            <tr *ngFor="let proj of projects$ | async">
              <td>
                  <img src="..\..\..\assets\class-icon.png" class="img-ico" />
                  <span class="result-name">
                    <a href="#">{{proj.name}}</a>
                  </span>
              </td>
              <td>
                  <span class="info">
                    {{proj.description}}
                  </span>
                </td>              
            </tr>
          </tbody>
          <tfoot>
            <span class="text-small result-name pull-right"><a href="#">More Results</a></span>
          </tfoot>
        </table>
      </div>
      </div>
    </div>  
</div>